backports-abc==0.4
certifi==2016.9.26
click==6.6
Flask==0.11.1
Flask-Script==2.0.5
itsdangerous==0.24
Jinja2==2.8
livereload==2.4.1
Markdown==2.6.2
MarkupSafe==0.23
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
Werkzeug==0.11.11
Flask-Bootstrap==3.3.5.6
